<h1><center>Muhammad Sheroz 9852 Quiz#2</center></h1>

In [51]:
from pyspark.sql import SparkSession

In [52]:
spark = SparkSession.builder.appName("pySpWordCountCSV").getOrCreate()

In [53]:
coutData = spark.read.csv("./data/Country.csv",inferSchema=True, header = True)
saleData = spark.read.csv("./data/Sales.csv",inferSchema=True, header = True)

<h1><center>1) join both the data sets</center></h1>

In [54]:
res04= coutData.join(saleData,coutData.CtryCd==saleData.CtryCd, 'left')
res04.show()

+------+--------------------+--------------------+---------+----------+---------------+---------+---------+--------+------+
|CtryCd|             Country|              Region|  OrderID| OrderDate|       ItemType|UnitsSold|UnitPrice|UnitCost|CtryCd|
+------+--------------------+--------------------+---------+----------+---------------+---------+---------+--------+------+
|    AL|             Albania|              Europe|385383069|  2/2/2010|        Clothes|     2269|   109.28|   35.84|    AL|
|    AO|              Angola|  Sub-Saharan Africa|135425221| 4/23/2011|      Household|     4187|   668.27|  502.54|    AO|
|    AT|             Austria|              Europe|868214595| 2/23/2015|      Cosmetics|     2847|    437.2|  263.33|    AT|
|    AU|           Australia|Australia and Oce...|240470397|  7/7/2014|      Beverages|     9389|    47.45|   31.79|    AU|
|    AU|           Australia|Australia and Oce...|450563752|  6/9/2013|         Cereal|      682|    205.7|  117.11|    AU|
|    AU|           Australia|Australia and Oce...|158535134|10/27/2015|Office Supplies|     2924|   651.21|  524.96|    AU|
|    AZ|          Azerbaijan|Middle East and N...|963392674|  2/8/2011|      Beverages|     8156|    47.45|   31.79|    AZ|
|    AZ|          Azerbaijan|Middle East and N...|423331391| 6/13/2012|Office Supplies|     2021|   651.21|  524.96|    AZ|
|    AZ|          Azerbaijan|Middle East and N...|382392299|  2/6/2010|      Cosmetics|     7234|    437.2|  263.33|    AZ|
|    BD|          Bangladesh|                Asia|187310731| 1/13/2017|        Clothes|     8263|   109.28|   35.84|    BD|
|    BF|        Burkina Faso|  Sub-Saharan Africa|871543967| 7/17/2012|     Vegetables|     8082|   154.06|   90.93|    BF|
|    BG|            Bulgaria|              Europe|189965903| 2/16/2012|Office Supplies|     3987|   651.21|  524.96|    BG|
|    BG|            Bulgaria|              Europe|972292029| 4/23/2012|        Clothes|     1673|   109.28|   35.84|    BG|
|    BN|              Brunei|                Asia|320009267|  4/1/2012|Office Supplies|     6708|   651.21|  524.96|    BN|
|    BZ|              Belize|Central America a...|807025039| 7/25/2016|        Clothes|     5498|   109.28|   35.84|    BZ|
|    CD|Congo, the Democr...|  Sub-Saharan Africa|585920464| 5/26/2011|      Beverages|     5741|    47.45|   31.79|    CD|
|    CG|Republic of the C...|  Sub-Saharan Africa|770463311| 7/14/2015|  Personal Care|     6070|    81.73|   56.67|    CG|
|    CH|         Switzerland|              Europe|617667090|12/23/2010|  Personal Care|      273|    81.73|   56.67|    CH|
|    CH|         Switzerland|              Europe|249693334| 9/17/2012|      Cosmetics|     8661|    437.2|  263.33|    CH|
|    CI|       Cote d'Ivoire|  Sub-Saharan Africa|114606559|  6/8/2012|        Clothes|     3482|   109.28|   35.84|    CI|
+------+--------------------+--------------------+---------+----------+---------------+---------+---------+--------+------+
only showing top 20 rows

<h1><center>2) calculate Sales Amount by multiplying Price by Units Sold</center></h1>

In [55]:
res04 = res04.withColumn('SaleAmount', res04.UnitsSold* res04.UnitPrice)
res04.show()

+------+--------------------+--------------------+---------+----------+---------------+---------+---------+--------+------+------------------+
|CtryCd|             Country|              Region|  OrderID| OrderDate|       ItemType|UnitsSold|UnitPrice|UnitCost|CtryCd|        SaleAmount|
+------+--------------------+--------------------+---------+----------+---------------+---------+---------+--------+------+------------------+
|    AL|             Albania|              Europe|385383069|  2/2/2010|        Clothes|     2269|   109.28|   35.84|    AL|         247956.32|
|    AO|              Angola|  Sub-Saharan Africa|135425221| 4/23/2011|      Household|     4187|   668.27|  502.54|    AO|2798046.4899999998|
|    AT|             Austria|              Europe|868214595| 2/23/2015|      Cosmetics|     2847|    437.2|  263.33|    AT|         1244708.4|
|    AU|           Australia|Australia and Oce...|240470397|  7/7/2014|      Beverages|     9389|    47.45|   31.79|    AU|445508.05000000005|
|    AU|           Australia|Australia and Oce...|450563752|  6/9/2013|         Cereal|      682|    205.7|  117.11|    AU|          140287.4|
|    AU|           Australia|Australia and Oce...|158535134|10/27/2015|Office Supplies|     2924|   651.21|  524.96|    AU|        1904138.04|
|    AZ|          Azerbaijan|Middle East and N...|963392674|  2/8/2011|      Beverages|     8156|    47.45|   31.79|    AZ|          387002.2|
|    AZ|          Azerbaijan|Middle East and N...|423331391| 6/13/2012|Office Supplies|     2021|   651.21|  524.96|    AZ|1316095.4100000001|
|    AZ|          Azerbaijan|Middle East and N...|382392299|  2/6/2010|      Cosmetics|     7234|    437.2|  263.33|    AZ|         3162704.8|
|    BD|          Bangladesh|                Asia|187310731| 1/13/2017|        Clothes|     8263|   109.28|   35.84|    BD|         902980.64|
|    BF|        Burkina Faso|  Sub-Saharan Africa|871543967| 7/17/2012|     Vegetables|     8082|   154.06|   90.93|    BF|        1245112.92|
|    BG|            Bulgaria|              Europe|189965903| 2/16/2012|Office Supplies|     3987|   651.21|  524.96|    BG|        2596374.27|
|    BG|            Bulgaria|              Europe|972292029| 4/23/2012|        Clothes|     1673|   109.28|   35.84|    BG|         182825.44|
|    BN|              Brunei|                Asia|320009267|  4/1/2012|Office Supplies|     6708|   651.21|  524.96|    BN| 4368316.680000001|
|    BZ|              Belize|Central America a...|807025039| 7/25/2016|        Clothes|     5498|   109.28|   35.84|    BZ| 600821.4400000001|
|    CD|Congo, the Democr...|  Sub-Saharan Africa|585920464| 5/26/2011|      Beverages|     5741|    47.45|   31.79|    CD|         272410.45|
|    CG|Republic of the C...|  Sub-Saharan Africa|770463311| 7/14/2015|  Personal Care|     6070|    81.73|   56.67|    CG|496101.10000000003|
|    CH|         Switzerland|              Europe|617667090|12/23/2010|  Personal Care|      273|    81.73|   56.67|    CH|          22312.29|
|    CH|         Switzerland|              Europe|249693334| 9/17/2012|      Cosmetics|     8661|    437.2|  263.33|    CH|3786589.1999999997|
|    CI|       Cote d'Ivoire|  Sub-Saharan Africa|114606559|  6/8/2012|        Clothes|     3482|   109.28|   35.84|    CI|         380512.96|
+------+--------------------+--------------------+---------+----------+---------------+---------+---------+--------+------+------------------+
only showing top 20 rows

<h1><center>3) calculate the Profit/Loss of each Item Type</center></h1>

In [57]:
res04 = res04.rdd
res04 = res04.map(lambda x: [x[5],x[7] -x[8]])
res04.collect()

[['Clothes', 73.44],
 ['Household', 165.72999999999996],
 ['Cosmetics', 173.87],
 ['Beverages', 15.660000000000004],
 ['Cereal', 88.58999999999999],
 ['Office Supplies', 126.25],
 ['Beverages', 15.660000000000004],
 ['Office Supplies', 126.25],
 ['Cosmetics', 173.87],
 ['Clothes', 73.44],
 ['Vegetables', 63.129999999999995],
 ['Office Supplies', 126.25],
 ['Clothes', 73.44],
 ['Office Supplies', 126.25],
 ['Clothes', 73.44],
 ['Beverages', 15.660000000000004],
 ['Personal Care', 25.060000000000002],
 ['Personal Care', 25.060000000000002],
 ['Cosmetics', 173.87],
 ['Clothes', 73.44],
 ['Office Supplies', 126.25],
 ['Beverages', 15.660000000000004],
 ['Personal Care', 25.060000000000002],
 ['Clothes', 73.44],
 ['Cereal', 88.58999999999999],
 ['Cosmetics', 173.87],
 ['Snacks', 55.140000000000015],
 ['Household', 165.72999999999996],
 ['Clothes', 73.44],
 ['Beverages', 15.660000000000004],
 ['Cosmetics', 173.87],
 ['Personal Care', 25.060000000000002],
 ['Household', 165.72999999999996],
 ['Cereal', 88.58999999999999],
 ['Baby Food', 95.86000000000001],
 ['Cereal', 88.58999999999999],
 ['Meat', 57.19999999999999],
 ['Household', 165.72999999999996],
 ['Snacks', 55.140000000000015],
 ['Household', 165.72999999999996],
 ['Cosmetics', 173.87],
 ['Cosmetics', 173.87],
 ['Cosmetics', 173.87],
 ['Vegetables', 63.129999999999995],
 ['Vegetables', 63.129999999999995],
 ['Fruits', 2.41],
 ['Cereal', 88.58999999999999],
 ['Fruits', 2.41],
 ['Vegetables', 63.129999999999995],
 ['Clothes', 73.44],
 ['Cosmetics', 173.87],
 ['Fruits', 2.41],
 ['Office Supplies', 126.25],
 ['Fruits', 2.41],
 ['Clothes', 73.44],
 ['Baby Food', 95.86000000000001],
 ['Personal Care', 25.060000000000002],
 ['Clothes', 73.44],
 ['Clothes', 73.44],
 ['Clothes', 73.44],
 ['Fruits', 2.41],
 ['Clothes', 73.44],
 ['Household', 165.72999999999996],
 ['Personal Care', 25.060000000000002],
 ['Office Supplies', 126.25],
 ['Personal Care', 25.060000000000002],
 ['Personal Care', 25.060000000000002],
 ['Household', 165.72999999999996],
 ['Fruits', 2.41],
 ['Household', 165.72999999999996],
 ['Personal Care', 25.060000000000002],
 ['Beverages', 15.660000000000004],
 ['Baby Food', 95.86000000000001],
 ['Fruits', 2.41],
 ['Cosmetics', 173.87],
 ['Baby Food', 95.86000000000001],
 ['Cosmetics', 173.87],
 ['Office Supplies', 126.25],
 ['Cosmetics', 173.87],
 ['Office Supplies', 126.25],
 ['Cereal', 88.58999999999999],
 ['Baby Food', 95.86000000000001],
 ['Beverages', 15.660000000000004],
 ['Vegetables', 63.129999999999995],
 ['Vegetables', 63.129999999999995],
 ['Office Supplies', 126.25],
 ['Office Supplies', 126.25],
 ['Baby Food', 95.86000000000001],
 ['Cereal', 88.58999999999999],
 ['Personal Care', 25.060000000000002],
 ['Beverages', 15.660000000000004],
 ['Fruits', 2.41],
 ['Fruits', 2.41],
 ['Fruits', 2.41],
 ['Meat', 57.19999999999999],
 ['Office Supplies', 126.25],
 ['Household', 165.72999999999996],
 ['Baby Food', 95.86000000000001],
 ['Cosmetics', 173.87],
 ['Snacks', 55.140000000000015]]

In [61]:
res05 = res04.toDF(['Product','Profit'])
res05.distinct().show()

+---------------+------------------+
|        Product|            Profit|
+---------------+------------------+
|         Snacks|55.140000000000015|
|           Meat| 57.19999999999999|
|      Baby Food| 95.86000000000001|
|        Clothes|             73.44|
|      Beverages|15.660000000000004|
|Office Supplies|            126.25|
|      Cosmetics|            173.87|
|     Vegetables|63.129999999999995|
|         Fruits|              2.41|
|      Household|165.72999999999996|
|         Cereal| 88.58999999999999|
|  Personal Care|25.060000000000002|
+---------------+------------------+

<h1><center>4) calculate average sales per region</center></h1>

In [63]:
res04.groupBy().avg('SaleAmount').show()

TypeError: groupBy() missing 1 required positional argument: 'f'

<h1><center>5) calculate the number of Item Types per country</center></h1>

<h1><center>6) get common Item Types in tow regions (select any two regions)</center></h1>