<h1><center>Kehkashan 9825 Quiz#2</center></h1>

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("pySpWordCountCSV").getOrCreate()

e:\Course\Bigdata\Quiz\q1\env\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [4]:
country = spark.read.csv("./data/Country.csv",inferSchema=True, header = True)
sales = spark.read.csv("./data/Sales.csv",inferSchema=True, header = True)

In [5]:
sales.show()

+---------+----------+---------------+---------+---------+--------+------+
|  OrderID| OrderDate|       ItemType|UnitsSold|UnitPrice|UnitCost|CtryCd|
+---------+----------+---------------+---------+---------+--------+------+
|669165933| 5/28/2010|      Baby Food|     9925|   255.28|  159.42|    TV|
|963881480| 8/22/2012|         Cereal|     2804|    205.7|  117.11|    GD|
|341417157|  5/2/2014|Office Supplies|     1779|   651.21|  524.96|    RU|
|514321792| 6/20/2014|         Fruits|     8102|     9.33|    6.92|    ST|
|115456712|  2/1/2013|Office Supplies|     5062|   651.21|  524.96|    RW|
|547995746|  2/4/2015|      Baby Food|     2974|   255.28|  159.42|    SB|
|135425221| 4/23/2011|      Household|     4187|   668.27|  502.54|    AO|
|871543967| 7/17/2012|     Vegetables|     8082|   154.06|   90.93|    BF|
|770463311| 7/14/2015|  Personal Care|     6070|    81.73|   56.67|    CG|
|616607081| 4/18/2014|         Cereal|     6593|    205.7|  117.11|    SN|
|814711606| 6/24/2011|     Vegetables|      124|   154.06|   90.93|    KG|
|939825713|  8/2/2014|        Clothes|     4168|   109.28|   35.84|    CV|
|187310731| 1/13/2017|        Clothes|     8263|   109.28|   35.84|    BD|
|522840487|  2/8/2017|      Household|     8974|   668.27|  502.54|    HN|
|832401311| 2/19/2014|  Personal Care|     4901|    81.73|   56.67|    MN|
|972292029| 4/23/2012|        Clothes|     1673|   109.28|   35.84|    BG|
|419123971|11/19/2016|      Cosmetics|     6952|    437.2|  263.33|    LK|
|519820964|  4/1/2015|      Beverages|     5430|    47.45|   31.79|    CM|
|441619336|12/30/2010|      Household|     3830|   668.27|  502.54|    TM|
|322067916| 7/31/2012|           Meat|     5908|   421.89|  364.69|    TL|
+---------+----------+---------------+---------+---------+--------+------+
only showing top 20 rows

In [6]:
country.show()

+------+--------------------+--------------------+
|CtryCd|             Country|              Region|
+------+--------------------+--------------------+
|    AL|             Albania|              Europe|
|    AO|              Angola|  Sub-Saharan Africa|
|    AT|             Austria|              Europe|
|    AU|           Australia|Australia and Oce...|
|    AZ|          Azerbaijan|Middle East and N...|
|    BD|          Bangladesh|                Asia|
|    BF|        Burkina Faso|  Sub-Saharan Africa|
|    BG|            Bulgaria|              Europe|
|    BN|              Brunei|                Asia|
|    BZ|              Belize|Central America a...|
|    CD|Congo, the Democr...|  Sub-Saharan Africa|
|    CG|Republic of the C...|  Sub-Saharan Africa|
|    CH|         Switzerland|              Europe|
|    CI|       Cote d'Ivoire|  Sub-Saharan Africa|
|    CM|            Cameroon|  Sub-Saharan Africa|
|    CR|          Costa Rica|Central America a...|
|    CV|          Cape Verde|  Sub-Saharan Africa|
|    DJ|            Djibouti|  Sub-Saharan Africa|
|    ES|               Spain|              Europe|
|    FJ|                Fiji|Australia and Oce...|
+------+--------------------+--------------------+
only showing top 20 rows

# Join Both Tables

In [7]:
salesCountry = sales.join(country, sales.CtryCd == country.CtryCd,'left')
salesCountry.show()

+---------+----------+---------------+---------+---------+--------+------+------+--------------------+--------------------+
|  OrderID| OrderDate|       ItemType|UnitsSold|UnitPrice|UnitCost|CtryCd|CtryCd|             Country|              Region|
+---------+----------+---------------+---------+---------+--------+------+------+--------------------+--------------------+
|669165933| 5/28/2010|      Baby Food|     9925|   255.28|  159.42|    TV|    TV|              Tuvalu|Australia and Oce...|
|963881480| 8/22/2012|         Cereal|     2804|    205.7|  117.11|    GD|    GD|             Grenada|Central America a...|
|341417157|  5/2/2014|Office Supplies|     1779|   651.21|  524.96|    RU|    RU|              Russia|              Europe|
|514321792| 6/20/2014|         Fruits|     8102|     9.33|    6.92|    ST|    ST|Sao Tome and Prin...|  Sub-Saharan Africa|
|115456712|  2/1/2013|Office Supplies|     5062|   651.21|  524.96|    RW|    RW|              Rwanda|  Sub-Saharan Africa|
|547995746|  2/4/2015|      Baby Food|     2974|   255.28|  159.42|    SB|    SB|     Solomon Islands|Australia and Oce...|
|135425221| 4/23/2011|      Household|     4187|   668.27|  502.54|    AO|    AO|              Angola|  Sub-Saharan Africa|
|871543967| 7/17/2012|     Vegetables|     8082|   154.06|   90.93|    BF|    BF|        Burkina Faso|  Sub-Saharan Africa|
|770463311| 7/14/2015|  Personal Care|     6070|    81.73|   56.67|    CG|    CG|Republic of the C...|  Sub-Saharan Africa|
|616607081| 4/18/2014|         Cereal|     6593|    205.7|  117.11|    SN|    SN|             Senegal|  Sub-Saharan Africa|
|814711606| 6/24/2011|     Vegetables|      124|   154.06|   90.93|    KG|    KG|          Kyrgyzstan|                Asia|
|939825713|  8/2/2014|        Clothes|     4168|   109.28|   35.84|    CV|    CV|          Cape Verde|  Sub-Saharan Africa|
|187310731| 1/13/2017|        Clothes|     8263|   109.28|   35.84|    BD|    BD|          Bangladesh|                Asia|
|522840487|  2/8/2017|      Household|     8974|   668.27|  502.54|    HN|    HN|            Honduras|Central America a...|
|832401311| 2/19/2014|  Personal Care|     4901|    81.73|   56.67|    MN|    MN|            Mongolia|                Asia|
|972292029| 4/23/2012|        Clothes|     1673|   109.28|   35.84|    BG|    BG|            Bulgaria|              Europe|
|419123971|11/19/2016|      Cosmetics|     6952|    437.2|  263.33|    LK|    LK|           Sri Lanka|                Asia|
|519820964|  4/1/2015|      Beverages|     5430|    47.45|   31.79|    CM|    CM|            Cameroon|  Sub-Saharan Africa|
|441619336|12/30/2010|      Household|     3830|   668.27|  502.54|    TM|    TM|        Turkmenistan|                Asia|
|322067916| 7/31/2012|           Meat|     5908|   421.89|  364.69|    TL|    TL|          East Timor|Australia and Oce...|
+---------+----------+---------------+---------+---------+--------+------+------+--------------------+--------------------+
only showing top 20 rows

# Calculate Sales Amount by multiplying Price by Units Sold

In [8]:
salesAmount = salesCountry.withColumn("salesAmount", sales["UnitPrice"] * sales["UnitsSold"])

In [9]:
salesAmount.show()

+---------+----------+---------------+---------+---------+--------+------+------+--------------------+--------------------+------------------+
|  OrderID| OrderDate|       ItemType|UnitsSold|UnitPrice|UnitCost|CtryCd|CtryCd|             Country|              Region|       salesAmount|
+---------+----------+---------------+---------+---------+--------+------+------+--------------------+--------------------+------------------+
|669165933| 5/28/2010|      Baby Food|     9925|   255.28|  159.42|    TV|    TV|              Tuvalu|Australia and Oce...|         2533654.0|
|963881480| 8/22/2012|         Cereal|     2804|    205.7|  117.11|    GD|    GD|             Grenada|Central America a...| 576782.7999999999|
|341417157|  5/2/2014|Office Supplies|     1779|   651.21|  524.96|    RU|    RU|              Russia|              Europe|        1158502.59|
|514321792| 6/20/2014|         Fruits|     8102|     9.33|    6.92|    ST|    ST|Sao Tome and Prin...|  Sub-Saharan Africa|          75591.66|
|115456712|  2/1/2013|Office Supplies|     5062|   651.21|  524.96|    RW|    RW|              Rwanda|  Sub-Saharan Africa|        3296425.02|
|547995746|  2/4/2015|      Baby Food|     2974|   255.28|  159.42|    SB|    SB|     Solomon Islands|Australia and Oce...|         759202.72|
|135425221| 4/23/2011|      Household|     4187|   668.27|  502.54|    AO|    AO|              Angola|  Sub-Saharan Africa|2798046.4899999998|
|871543967| 7/17/2012|     Vegetables|     8082|   154.06|   90.93|    BF|    BF|        Burkina Faso|  Sub-Saharan Africa|        1245112.92|
|770463311| 7/14/2015|  Personal Care|     6070|    81.73|   56.67|    CG|    CG|Republic of the C...|  Sub-Saharan Africa|496101.10000000003|
|616607081| 4/18/2014|         Cereal|     6593|    205.7|  117.11|    SN|    SN|             Senegal|  Sub-Saharan Africa|1356180.0999999999|
|814711606| 6/24/2011|     Vegetables|      124|   154.06|   90.93|    KG|    KG|          Kyrgyzstan|                Asia|          19103.44|
|939825713|  8/2/2014|        Clothes|     4168|   109.28|   35.84|    CV|    CV|          Cape Verde|  Sub-Saharan Africa|         455479.04|
|187310731| 1/13/2017|        Clothes|     8263|   109.28|   35.84|    BD|    BD|          Bangladesh|                Asia|         902980.64|
|522840487|  2/8/2017|      Household|     8974|   668.27|  502.54|    HN|    HN|            Honduras|Central America a...|5997054.9799999995|
|832401311| 2/19/2014|  Personal Care|     4901|    81.73|   56.67|    MN|    MN|            Mongolia|                Asia|400558.73000000004|
|972292029| 4/23/2012|        Clothes|     1673|   109.28|   35.84|    BG|    BG|            Bulgaria|              Europe|         182825.44|
|419123971|11/19/2016|      Cosmetics|     6952|    437.2|  263.33|    LK|    LK|           Sri Lanka|                Asia|         3039414.4|
|519820964|  4/1/2015|      Beverages|     5430|    47.45|   31.79|    CM|    CM|            Cameroon|  Sub-Saharan Africa|257653.50000000003|
|441619336|12/30/2010|      Household|     3830|   668.27|  502.54|    TM|    TM|        Turkmenistan|                Asia|         2559474.1|
|322067916| 7/31/2012|           Meat|     5908|   421.89|  364.69|    TL|    TL|          East Timor|Australia and Oce...|        2492526.12|
+---------+----------+---------------+---------+---------+--------+------+------+--------------------+--------------------+------------------+
only showing top 20 rows

# Calculate the Profit/Loss of each Item Type

In [10]:
salesWithProfit = salesAmount.withColumn("totalCost", salesAmount["UnitsSold"] * salesAmount["UnitCost"])
salesWithProfit = salesWithProfit.withColumn("profit", salesWithProfit["salesAmount"] - salesWithProfit["totalCost"])

In [11]:
salesWithProfit.show()

+---------+----------+---------------+---------+---------+--------+------+------+--------------------+--------------------+------------------+------------------+------------------+
|  OrderID| OrderDate|       ItemType|UnitsSold|UnitPrice|UnitCost|CtryCd|CtryCd|             Country|              Region|       salesAmount|         totalCost|            profit|
+---------+----------+---------------+---------+---------+--------+------+------+--------------------+--------------------+------------------+------------------+------------------+
|669165933| 5/28/2010|      Baby Food|     9925|   255.28|  159.42|    TV|    TV|              Tuvalu|Australia and Oce...|         2533654.0|1582243.4999999998| 951410.5000000002|
|963881480| 8/22/2012|         Cereal|     2804|    205.7|  117.11|    GD|    GD|             Grenada|Central America a...| 576782.7999999999|         328376.44|248406.35999999993|
|341417157|  5/2/2014|Office Supplies|     1779|   651.21|  524.96|    RU|    RU|              Russia|              Europe|        1158502.59| 933903.8400000001|         224598.75|
|514321792| 6/20/2014|         Fruits|     8102|     9.33|    6.92|    ST|    ST|Sao Tome and Prin...|  Sub-Saharan Africa|          75591.66|          56065.84|19525.820000000007|
|115456712|  2/1/2013|Office Supplies|     5062|   651.21|  524.96|    RW|    RW|              Rwanda|  Sub-Saharan Africa|        3296425.02|        2657347.52|          639077.5|
|547995746|  2/4/2015|      Baby Food|     2974|   255.28|  159.42|    SB|    SB|     Solomon Islands|Australia and Oce...|         759202.72|474115.07999999996|         285087.64|
|135425221| 4/23/2011|      Household|     4187|   668.27|  502.54|    AO|    AO|              Angola|  Sub-Saharan Africa|2798046.4899999998|        2104134.98| 693911.5099999998|
|871543967| 7/17/2012|     Vegetables|     8082|   154.06|   90.93|    BF|    BF|        Burkina Faso|  Sub-Saharan Africa|        1245112.92|         734896.26| 510216.6599999999|
|770463311| 7/14/2015|  Personal Care|     6070|    81.73|   56.67|    CG|    CG|Republic of the C...|  Sub-Saharan Africa|496101.10000000003|          343986.9|          152114.2|
|616607081| 4/18/2014|         Cereal|     6593|    205.7|  117.11|    SN|    SN|             Senegal|  Sub-Saharan Africa|1356180.0999999999|         772106.23| 584073.8699999999|
|814711606| 6/24/2011|     Vegetables|      124|   154.06|   90.93|    KG|    KG|          Kyrgyzstan|                Asia|          19103.44|11275.320000000002| 7828.119999999997|
|939825713|  8/2/2014|        Clothes|     4168|   109.28|   35.84|    CV|    CV|          Cape Verde|  Sub-Saharan Africa|         455479.04|149381.12000000002| 306097.9199999999|
|187310731| 1/13/2017|        Clothes|     8263|   109.28|   35.84|    BD|    BD|          Bangladesh|                Asia|         902980.64|296145.92000000004|         606834.72|
|522840487|  2/8/2017|      Household|     8974|   668.27|  502.54|    HN|    HN|            Honduras|Central America a...|5997054.9799999995|        4509793.96|1487261.0199999996|
|832401311| 2/19/2014|  Personal Care|     4901|    81.73|   56.67|    MN|    MN|            Mongolia|                Asia|400558.73000000004|         277739.67|122819.06000000006|
|972292029| 4/23/2012|        Clothes|     1673|   109.28|   35.84|    BG|    BG|            Bulgaria|              Europe|         182825.44| 59960.32000000001|         122865.12|
|419123971|11/19/2016|      Cosmetics|     6952|    437.2|  263.33|    LK|    LK|           Sri Lanka|                Asia|         3039414.4|        1830670.16|        1208744.24|
|519820964|  4/1/2015|      Beverages|     5430|    47.45|   31.79|    CM|    CM|            Cameroon|  Sub-Saharan Africa|257653.50000000003|172619.69999999998| 85033.80000000005|
|441619336|12/30/2010|      Household|     3830|   668.27|  502.54|    TM|    TM|        Turkmenistan|                Asia|         2559474.1|1924728.2000000002| 634745.8999999999|
|322067916| 7/31/2012|           Meat|     5908|   421.89|  364.69|    TL|    TL|          East Timor|Australia and Oce...|        2492526.12|        2154588.52| 337937.6000000001|
+---------+----------+---------------+---------+---------+--------+------+------+--------------------+--------------------+------------------+------------------+------------------+
only showing top 20 rows

# Calculate average sales per region

In [12]:
averageSalesPerCountry = salesWithProfit.groupBy("Region").avg("salesAmount")

In [13]:
averageSalesPerCountry.show()

+--------------------+------------------+
|              Region|  avg(salesAmount)|
+--------------------+------------------+
|Middle East and N...| 1312700.798181818|
|Australia and Oce...|1281296.8300000003|
|              Europe|1516769.6413636364|
|  Sub-Saharan Africa|1102000.8730555559|
|Central America a...|1463897.2149999999|
|       North America|1881118.8500000003|
|                Asia|1940644.6381818184|
+--------------------+------------------+

# Calculate the number of Item Types per country

In [14]:
itemsPerCountry = salesWithProfit.groupBy("Country").count()

In [15]:
itemsPerCountry.show()

+--------------------+-----+
|             Country|count|
+--------------------+-----+
|              Russia|    1|
|             Senegal|    1|
|Congo, the Democr...|    1|
|            Kiribati|    1|
|            Djibouti|    3|
|            Malaysia|    1|
|                Fiji|    1|
|             Comoros|    1|
|              Rwanda|    2|
|              France|    1|
|           Sri Lanka|    1|
|            Slovakia|    1|
|              Angola|    1|
|            Moldova |    1|
|          San Marino|    1|
|          East Timor|    1|
|             Lesotho|    1|
|             Albania|    1|
|          Madagascar|    1|
|             Myanmar|    2|
+--------------------+-----+
only showing top 20 rows

# Get common Item Types in tow regions (select any two regions)

In [44]:
subsharan=salesWithProfit.select(['Region','ItemType']).where(salesWithProfit['Region']=='Sub-Saharan Africa')
europe=salesWithProfit.select(['Region','ItemType']).where(salesWithProfit['Region']=='Europe')
subDf1 = subsharan.select("ItemType")
subDf2 = europe.select("ItemType")

In [45]:
common = subDf1.intersect(subDf2)
common.show()

+---------------+
|       ItemType|
+---------------+
|      Baby Food|
|      Household|
|     Vegetables|
|      Beverages|
|Office Supplies|
|      Cosmetics|
|  Personal Care|
|        Clothes|
+---------------+

In [46]:
common = subDf2.intersect(subDf1)
common.show()

+---------------+
|       ItemType|
+---------------+
|      Baby Food|
|      Household|
|     Vegetables|
|      Beverages|
|Office Supplies|
|      Cosmetics|
|  Personal Care|
|        Clothes|
+---------------+