<center><h1> Muhammad Sheroz 9852 Quiz 5</h1></center>

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName("pySp-Quiz5").getOrCreate()

In [8]:
dfct = spark.read.csv('./Data/SrcPCtg.csv', inferSchema=True, header = True)
print("Rows", dfct.count(),";\t Columns", len(dfct.columns))
dfct.show()

Rows 3 ;	 Columns 2
+------+----------+
|CatgID|    CatgNm|
+------+----------+
|   K01|KictenItem|
|   K02| KictenEat|
|   D01|  DryFruit|
+------+----------+

In [9]:
dfprd = spark.read.csv('./Data/SrcProduct.csv', inferSchema=True, header = True)
print("Rows", dfprd.count(),";\t Columns", len(dfprd.columns))
dfprd.show(5)

Rows 96 ;	 Columns 3
+----+--------+------+
|PrCd|  PrName|CatgID|
+----+--------+------+
| A02|  Akhrot|   D01|
| A06|  Anjeer|   D01|
| B02|   Badam|   D01|
| B06|    Beej|   D01|
| C17|Chilgoza|   D01|
+----+--------+------+
only showing top 5 rows

In [10]:
dfitem = spark.read.csv('./Data/dfitem.csv', inferSchema=True, header = True)
print("Rows", dfitem.count(),";\t Columns", len(dfitem.columns))
dfitem.show(5)

Rows 746 ;	 Columns 4
+------+-------------+----+----+
|ItemID|     ItemName|Unit|PrCd|
+------+-------------+----+----+
| 31751|akhrot 200 gm|  gm| A02|
| 31752|akhrot 100 gm|  gm| A02|
| 31753| akhrot 50 gm|  gm| A02|
| 31798|akhrot 500 gm|  gm| A02|
| 31863|akhrot 400 gm|  gm| A02|
+------+-------------+----+----+
only showing top 5 rows

In [11]:
dfitem.printSchema()

root
 |-- ItemID: integer (nullable = true)
 |-- ItemName: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- PrCd: string (nullable = true)

In [12]:
dfclient = spark.read.csv('./Data/dfclient.csv', inferSchema=True, header = True)
print("Rows", dfclient.count(),";\t Columns", len(dfclient.columns))
dfclient.show(5)

Rows 291 ;	 Columns 2
+--------+--------------------+
|ClientID|          ClientName|
+--------+--------------------+
|       1|786 Super Mart Mi...|
|       2|           Anonymous|
|       3|           Al basit |
|       4|AL BADAR GEN & ME...|
|       5|ABDULLAH GEN STOR...|
+--------+--------------------+
only showing top 5 rows

In [13]:
dfclient.printSchema()

root
 |-- ClientID: integer (nullable = true)
 |-- ClientName: string (nullable = true)

In [14]:
dfsm = spark.read.csv('./Data/SrcSalesDFruitsMaster.csv', inferSchema=True, header = True)
print("Rows", dfsm.count(),";\t Columns", len(dfsm.columns))
dfsm.show(5)

Rows 14269 ;	 Columns 3
+---------+---------+--------+
|InvoiceID|  InvDate|ClientID|
+---------+---------+--------+
|      146|11/2/2011|      46|
|      147|11/2/2011|      46|
|      148|11/2/2011|      47|
|      149|11/2/2011|      48|
|      150|11/2/2011|      52|
+---------+---------+--------+
only showing top 5 rows

In [15]:
dfsm.printSchema()

root
 |-- InvoiceID: integer (nullable = true)
 |-- InvDate: string (nullable = true)
 |-- ClientID: integer (nullable = true)

#### Type Casting - Date

In [16]:
from pyspark.sql.functions import to_date, unix_timestamp

In [17]:
dfsm = dfsm.withColumn('InvDate', to_date(unix_timestamp('InvDate', 'M/d/yyyy').cast("timestamp")))
dfsm.printSchema()
dfsm.show(5)

root
 |-- InvoiceID: integer (nullable = true)
 |-- InvDate: date (nullable = true)
 |-- ClientID: integer (nullable = true)

+---------+----------+--------+
|InvoiceID|   InvDate|ClientID|
+---------+----------+--------+
|      146|2011-11-02|      46|
|      147|2011-11-02|      46|
|      148|2011-11-02|      47|
|      149|2011-11-02|      48|
|      150|2011-11-02|      52|
+---------+----------+--------+
only showing top 5 rows

In [18]:
dfSd = spark.read.csv('./Data/SrcSalesDFruitsDetail.csv', inferSchema=True, header = True)
print("Rows", dfSd.count(),";\t Columns", len(dfSd.columns))
dfSd.show(5)

Rows 109104 ;	 Columns 4
+---------+------+-----------+--------+
|InvoiceID|ItemID|RetailPrice|Quantity|
+---------+------+-----------+--------+
|      146| 31639|       20.0|       6|
|      146| 31650|       20.0|       6|
|      146| 31655|       20.0|       6|
|      146| 31659|       20.0|       6|
|      147| 31736|       20.0|      12|
+---------+------+-----------+--------+
only showing top 5 rows

In [19]:
dfSd.printSchema()

root
 |-- InvoiceID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- RetailPrice: double (nullable = true)
 |-- Quantity: integer (nullable = true)

In [20]:
dfsm = dfsm.withColumnRenamed("InvoiceID","InvID")

In [21]:
dfS = dfsm.join(dfSd, dfsm.InvID == dfSd.InvoiceID)
print("Rows", dfS.count(),";\t Columns", len(dfS.columns))
dfS.show(5)

Rows 109104 ;	 Columns 7
+-----+----------+--------+---------+------+-----------+--------+
|InvID|   InvDate|ClientID|InvoiceID|ItemID|RetailPrice|Quantity|
+-----+----------+--------+---------+------+-----------+--------+
|  146|2011-11-02|      46|      146| 31639|       20.0|       6|
|  146|2011-11-02|      46|      146| 31650|       20.0|       6|
|  146|2011-11-02|      46|      146| 31655|       20.0|       6|
|  146|2011-11-02|      46|      146| 31659|       20.0|       6|
|  147|2011-11-02|      46|      147| 31736|       20.0|      12|
+-----+----------+--------+---------+------+-----------+--------+
only showing top 5 rows

In [22]:
dfS = dfS.drop(dfS.InvID)
dfS.show(5)

+----------+--------+---------+------+-----------+--------+
|   InvDate|ClientID|InvoiceID|ItemID|RetailPrice|Quantity|
+----------+--------+---------+------+-----------+--------+
|2011-11-02|      46|      146| 31639|       20.0|       6|
|2011-11-02|      46|      146| 31650|       20.0|       6|
|2011-11-02|      46|      146| 31655|       20.0|       6|
|2011-11-02|      46|      146| 31659|       20.0|       6|
|2011-11-02|      46|      147| 31736|       20.0|      12|
+----------+--------+---------+------+-----------+--------+
only showing top 5 rows

In [23]:
dfS = dfS.withColumnRenamed("ItemID","ItmID")

In [24]:
dfS = dfS.join(dfitem, dfS.ItmID == dfitem.ItemID)
dfS = dfS.drop(dfS.ItmID)
print("Rows", dfS.count(),";\t Columns", len(dfS.columns))
dfS.show(5)

Rows 109104 ;	 Columns 9
+----------+--------+---------+-----------+--------+------+---------------+----+----+
|   InvDate|ClientID|InvoiceID|RetailPrice|Quantity|ItemID|       ItemName|Unit|PrCd|
+----------+--------+---------+-----------+--------+------+---------------+----+----+
|2011-11-02|      46|      146|       20.0|       6| 31639|teez pata 30 gm|  gm| T02|
|2011-11-02|      46|      146|       20.0|       6| 31650|   jaifal 10 gm|  gm| J01|
|2011-11-02|      46|      146|       20.0|       6| 31655|koti mirch 50gm|  gm| L01|
|2011-11-02|      46|      146|       20.0|       6| 31659|sago dana 80 gm|  gm| S01|
|2011-11-02|      46|      147|       20.0|      12| 31736|    badam 16 gm|  gm| B02|
+----------+--------+---------+-----------+--------+------+---------------+----+----+
only showing top 5 rows

In [25]:
dfF = dfS[['InvDate', 'ClientID', 'PrCd', 'RetailPrice', 'Quantity']]
print("Rows", dfF.count(),";\t Columns", len(dfF.columns))
dfF.show(5)

Rows 109104 ;	 Columns 5
+----------+--------+----+-----------+--------+
|   InvDate|ClientID|PrCd|RetailPrice|Quantity|
+----------+--------+----+-----------+--------+
|2011-11-02|      46| T02|       20.0|       6|
|2011-11-02|      46| J01|       20.0|       6|
|2011-11-02|      46| L01|       20.0|       6|
|2011-11-02|      46| S01|       20.0|       6|
|2011-11-02|      46| B02|       20.0|      12|
+----------+--------+----+-----------+--------+
only showing top 5 rows

In [26]:
dfF = dfF.select('InvDate', 'ClientID', 'PrCd', 'RetailPrice', 'Quantity').dropDuplicates()
print("Rows", dfF.count(),";\t Columns", len(dfF.columns))
dfF.show(5)

Rows 104465 ;	 Columns 5
+----------+--------+----+-----------+--------+
|   InvDate|ClientID|PrCd|RetailPrice|Quantity|
+----------+--------+----+-----------+--------+
|2011-11-03|      41| J01|       20.0|       6|
|2011-11-05|      96| T01|       20.0|       6|
|2011-11-05|     130| A06|      160.0|      12|
|2011-11-05|     138| D02|       15.0|       6|
|2011-11-14|     155| P09|       30.0|       6|
+----------+--------+----+-----------+--------+
only showing top 5 rows

In [27]:
dfF = dfF.withColumn('SalesAmt', dfF.RetailPrice * dfF.Quantity)
dfF = dfF.drop(dfF.RetailPrice)
dfF.show(5)

+----------+--------+----+--------+--------+
|   InvDate|ClientID|PrCd|Quantity|SalesAmt|
+----------+--------+----+--------+--------+
|2011-11-03|      41| J01|       6|   120.0|
|2011-11-05|      96| T01|       6|   120.0|
|2011-11-05|     130| A06|      12|  1920.0|
|2011-11-05|     138| D02|       6|    90.0|
|2011-11-14|     155| P09|       6|   180.0|
+----------+--------+----+--------+--------+
only showing top 5 rows

In [28]:
dfF = dfF.groupBy(['InvDate', 'ClientID', 'PrCd']).agg({'Quantity': 'sum', 'SalesAmt': 'sum'})
print("Rows", dfF.count(),";\t Columns", len(dfF.columns))
dfF.show(5)

Rows 88900 ;	 Columns 5
+----------+--------+----+-------------+-------------+
|   InvDate|ClientID|PrCd|sum(SalesAmt)|sum(Quantity)|
+----------+--------+----+-------------+-------------+
|2012-02-13|     105| B02|        120.0|            6|
|2012-03-04|     531| P02|       -720.0|          -36|
|2012-08-18|     177| B02|       1320.0|           12|
|2011-11-18|     194| A06|        640.0|            4|
|2012-05-22|     128| L01|        300.0|           12|
+----------+--------+----+-------------+-------------+
only showing top 5 rows

In [29]:
dfF = dfF.withColumnRenamed("sum(SalesAmt)","SalesAmount").withColumnRenamed("sum(Quantity)", "QtyTotal")
dfF.printSchema()

root
 |-- InvDate: date (nullable = true)
 |-- ClientID: integer (nullable = true)
 |-- PrCd: string (nullable = true)
 |-- SalesAmount: double (nullable = true)
 |-- QtyTotal: long (nullable = true)

In [30]:
dfdt = dfF.select('InvDate').dropDuplicates()
print("Rows", dfdt.count(),";\t Columns", len(dfdt.columns))
dfdt.show(5)

Rows 405 ;	 Columns 1
+----------+
|   InvDate|
+----------+
|2012-04-17|
|2012-10-06|
|2013-01-22|
|2012-07-17|
|2011-11-18|
+----------+
only showing top 5 rows

In [31]:
from pyspark.sql.functions import year, quarter, month, dayofmonth, dayofyear, weekofyear

In [32]:
dfdt = dfdt.select(dfdt.InvDate, year(dfdt.InvDate).alias('Year'),\
                    quarter(dfdt.InvDate).alias('Quarter'), \
                    month(dfdt.InvDate).alias('Month'), \
                    dayofmonth(dfdt.InvDate).alias('DyMnth'), \
                    dayofyear(dfdt.InvDate).alias('DyYr'), \
                    weekofyear(dfdt.InvDate).alias('WkYr'))
dfdt.show(5)

+----------+----+-------+-----+------+----+----+
|   InvDate|Year|Quarter|Month|DyMnth|DyYr|WkYr|
+----------+----+-------+-----+------+----+----+
|2012-04-17|2012|      2|    4|    17| 108|  16|
|2012-10-06|2012|      4|   10|     6| 280|  40|
|2013-01-22|2013|      1|    1|    22|  22|   4|
|2012-07-17|2012|      3|    7|    17| 199|  29|
|2011-11-18|2011|      4|   11|    18| 322|  46|
+----------+----+-------+-----+------+----+----+
only showing top 5 rows

In [33]:
dfdt.printSchema()

root
 |-- InvDate: date (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Quarter: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DyMnth: integer (nullable = true)
 |-- DyYr: integer (nullable = true)
 |-- WkYr: integer (nullable = true)