In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("pySpWordCountCSV").getOrCreate()

In [3]:
spark.conf.set("spark.sqllegacy.timeParserPolicy", "LEGACY")

In [14]:
df = spark.read.csv("./dataSet//ddFtMx.csv", header = True)

In [15]:
df.columns

['empno', 'ename', 'job', 'mgr', 'hiredate', 'sal', 'comm', 'deptno']

In [16]:
df.show()

+-----+------+---------+----+----------+----+----+------+
|empno| ename|      job| mgr|  hiredate| sal|comm|deptno|
+-----+------+---------+----+----------+----+----+------+
| 7839|  KING|PRESIDENT|null|11/17/2001|5000|null|    10|
| 7698| BLAKE|  MANAGER|7839|05/01/2001|2850|null|    30|
| 7782| CLARK|  MANAGER|7839|06/09/2001|2450|null|    10|
| 7566| JONES|  MANAGER|7839|04/02/2001|2975|null|    20|
| 7654|MARTIN| SALESMAN|7698|09/28/2001|1250|1400|    30|
| 7499| ALLEN| SALESMAN|7698|02/20/2001|1600| 300|    30|
| 7844|TURNER| SALESMAN|7698|09/08/2001|1500|   0|    30|
| 7900| JAMES|    CLERK|7698|12/03/2001| 950|null|    30|
| 7521|  WARD| SALESMAN|7698|02/22/2001|1250| 500|    30|
| 7902|  FORD|  ANALYST|7566|02/03/2001|3000|null|    20|
| 7369| SMITH|    CLERK|7902|12/17/2000| 800|null|    20|
| 7788| SCOTT|  ANALYST|7566|04/19/2007|3000|null|    20|
| 7876| ADAMS|    CLERK|7788|05/23/2007|1100|null|    20|
| 7934|MILLER|    CLERK|7782|01/23/2002|1300|null|    10|
+-----+------+---------+----+----------+----+----+------+

In [17]:
dfrdd = df.rdd

In [18]:
jobMap= dfrdd.map(lambda x: [x[2], int(x[5])])

In [19]:
jbMp = jobMap.collect()
jbMp

[['PRESIDENT', 5000],
 ['MANAGER', 2850],
 ['MANAGER', 2450],
 ['MANAGER', 2975],
 ['SALESMAN', 1250],
 ['SALESMAN', 1600],
 ['SALESMAN', 1500],
 ['CLERK', 950],
 ['SALESMAN', 1250],
 ['ANALYST', 3000],
 ['CLERK', 800],
 ['ANALYST', 3000],
 ['CLERK', 1100],
 ['CLERK', 1300]]

In [20]:
smSal = jobMap.reduceByKey(lambda a,b: a+b)

In [22]:
smSl = smSal.collect()
smSl

[('PRESIDENT', 5000),
 ('MANAGER', 8275),
 ('SALESMAN', 5600),
 ('CLERK', 4150),
 ('ANALYST', 6000)]

In [23]:
dfSmSal = spark.createDataFrame(smSl,["Job","smSal"])

In [24]:
dfSmSal.show()

+---------+-----+
|      Job|smSal|
+---------+-----+
|PRESIDENT| 5000|
|  MANAGER| 8275|
| SALESMAN| 5600|
|    CLERK| 4150|
|  ANALYST| 6000|
+---------+-----+